{% extends "base.html" %}

{% block title %}Account Information{% endblock %}

{% block content %}

<form class="login-form" method="POST" action="{{ url_for('member.member_info') }}">
  <h2 class="loginH2">Update Account</h2>
  <p>Member since {{ sDate }}</p>
  {{ form.hidden_tag() }}
  <fieldset class="login-label">
  {{ form.fName.label }}
  {{ form.fName(class="login-input") }}
    {% if form.fName.errors %}
    <ul class="errors">
      {% for error in form.fName.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>
  <fieldset class="login-label">
  {{ form.lName.label }}
  {{ form.lName(class="login-input") }}
    {% if form.lName.errors %}
    <ul class="errors">
      {% for error in form.lName.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <fieldset class="login-label">
    {{ form.phone.label }}
    {{ form.phone(class="login-input") }}
    {% if form.phone.errors %}
      <ul class="errors">
        {% for error in form.phone.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <fieldset class="login-label">
    {{ form.dob.label }}
    {{ form.dob(class="login-input") }}
    {% if form.dob.errors %}
      <ul class="errors">
        {% for error in form.dob.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <fieldset class="login-label">
    {{ form.email.label }}
    {{ form.email(class="login-input") }}
    {% if form.email.errors %}
      <ul class="errors">
        {% for error in form.email.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>
  {{ form.submit (class="login-button")}}

</form>

{% endblock %}
