{% extends "base.html" %}

{% block title %}Hello, {{ g.user['first_name'] }}!{% endblock %}

{% block content %}
<article class="">

  <h1></h1>

    <div class="banner">
      <h2>ANNOUNCEMENTS</h2>
      <p>some text here about special stuff!</p>
    </div>
    <div id="specials_div" class="home_box">
      <h2>SPECIALS</h2>
      <p>list of specials</p>
      <ul>
        <li>shake 1</li>
        <li>shake 2</li>
        <li>shake 3</li>
      </ul>
    </div>

  <section id="specials" class="home_specials">

    <div id="top_5" class="home_box">
      <h2 id="total_title">YOUVE HAD {{ total_shakes[0] }} SHAKES!!</h2>
      <table class="top_5_table">
        <thead><tr><th class="top-5" colspan='4'>Top 5 Shakes</th></tr></thead>
        <tbody>
          <tr>
            <th class="shake-table-header2"></th>
            <th class="shake-table-header1"></th>
            <th class="shake-table-header2"></th>
            <th class="shake-table-header1"></th>
          </tr>
          {% for shake in member_top_5 %}
          <tr>
            <td class="top-5-name">{{ shake['shake_name']}}</td>
            <td class="top-5-data">{{ shake['shake_rating']}}</td>
            <td class="top-5-data">{{ shake['shake_comment']}}</td>
            <td class="top-5-data">{{ shake['shake_freq']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button class="menu-button" type="button" name="button">view all</button>
    </div>

  </section>

  <section id="menu_section">
    <div class="menu_button_holder">
      <button class="menu-button" id="all" type="button" name="all">all</button>
      <button class="menu-button" id="had" type="button" name="had">had</button>
      <button class="menu-button" id="try" type="button" name="try">try</button>
      <script defer src="{{ url_for('static', filename='js/userHome.js') }}" type="text/javascript"></script>
    </div>
    <h2>MENU</h2>
    <div id="all_menu" class="shake_menu">
    <h3>All Shakes</h3>
    <ul>
      {% for shake in all_shakes %}
      <li>{{ shake['name']}}</li>
      {% endfor %}
    </ul>
    </div>
    <div id="had_menu" class="shake_menu">
    <h3>Shakes I've Had</h3>
    <ul>
      {% for shake in had_shakes %}
      <li>{{ shake['name']}}</li>
      {% endfor %}
    </ul>
    </div>
    <div id="try_menu" class="shake_menu">
    <h3>Shakes To Try</h3>
    <ul>
      {% for shake in havent_had %}
      <li>{{ shake['name']}}</li>
      {% endfor %}
    </ul>
    </div>

    <a class="nav-bar-opt" href="{{url_for('member.member_add_shake')}}">ADD MORE SHAKES!</a>

  </section>

</article>
{% endblock %}
