{% extends "base.html" %}

{% block title %}Hello, {{ g.user['first_name'] }}!{% endblock %}

{% block content %}

<nav>
  <ul>

    <li><a href="{{ url_for('admin.admin_store_reports') }}">Store Reports</a></li>
    <li><a href="{{url_for('admin.member_info')}}">Member Info</a></li>
    <li><a href="#">Specials</a></li>
    <li><a href="#">Shake Menu</a></li>
    <li><a href="#">Announcements</a></li>

  </ul>
</nav>
<div class="">
  <h2>Total Shakes: {{ total_shakes[0] }}</h2>
  <h2>Shakes Today: {{ shakes_today[0] }}</h2>

</div>

{% endblock %}
