*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
}

.title {
  text-align: center;
  font-family: 'Marck Script';
  font-size: 50px;
  font-weight: bolder;
  color: white;
  padding: 10px;
  text-shadow: #8e9c8e 1px 0 10px;
  margin: 70px 10px 10px 10px;
}

/**
 * Layout
 */
.page_title {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  padding: 10px;
  text-shadow: #8e9c8e 1px 0 10px;
  margin: 10px;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
 }

input {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
 }

body {
  background-color: #a9b7c0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  background-color: #c7d8c6;
  width: 100vw;
  margin: 0 auto;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: #c7d8c6;
  width: 100vw;
  margin: 0 auto;
  left:0;
}

.flash {
  text-align: center;
  padding: 10px;
  background-color: darkgrey;
  color: white;
  border: 2px solid white;
  font-size: 24px;
  font-weight: bolder;
  font-style: italic;
}

.footer-heading {
  text-align: center;
  font-family: 'Marck Script';
  font-size: 30px;
  font-weight: bolder;
  color: white;
  padding: 10px;
  text-shadow: #8e9c8e 1px 0 10px;
  margin: 10px;
}

.footer-p {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  color: white;
  font-family: 'Josefin Slab', serif;
  width: 70%;
  margin: 10px auto;
}

address {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  color: white;
  font-family: 'Josefin Slab', serif;
  background-color: #a9b7c0;
  width: 60%;
  margin: 10px auto;
}

.home_page_div{
  text-align: center;
  border: 1px solid white;
  background-color: #efd9c1;
  box-shadow: 0px 0px 7px 3px white;
  display: flex;
  padding: 10px;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hp-link{
  margin:10px;
  text-decoration: none;
}

.hp-link:hover{
  box-shadow: 0px 0px 4px 6px rgb(150,150,150);
}

.home_photo_link_div{
  box-shadow: 0px 0px 7px 3px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;;
  height: 100px;
  margin: 5px;
}

#hfl1 {
  background: url("https://lh3.googleusercontent.com/VjlX1xlpX9zT6DmxAXaADO3FKnfTC7P0ItXKlzV7meVwwoxKC8BfSNrqS7bGWmNz_85RdKIirCSCYZ4URyQmZjwibTS6ETB6PRm3S2OUImgQ1q9diuVk9WeLHFFpOtGPBMLDdjws_w=w2400");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hfl2 {
  background: url("https://lh3.googleusercontent.com/zstXOPCxkulzlcQd9ac8T7gNFnkEqINilAH1xFChi0nOzS8w4IXkTfYyrLE7WB0gRJWkreS0m2iFZ2IAesPcYRd-5Wam2UXcPQTYtFKLGC2P0loGqYMNVdamB7TcyWIDEydiOFQ2qg=w2400");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hfl3 {
  background: url("https://lh3.googleusercontent.com/DVvDj9xlSBubqFjNXR4r40CSQ-1JPMMa98Pn8in2SAsbWP_KkibNPz1ERvQMXa0Rl5pohY5pBwOlQCPeoeiODi9cU7AZvHhn8m1E0A1aDEb29N0VC_VQbsOKTCSMjgPRtInwhMrSsA=w2400");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hfl4 {
  background: url("https://lh3.googleusercontent.com/fr9yLmk1uZDs3TgL77yOv0kxQgE1wGwGOqc2LS3908t0khUEGHx0jhdH-wk5obPJLbU-SUPj4KuW4Dn3anZZt9Jp3yBd0SuVXl_91xLhcDOokIUv7W7elaYhuChv8eQqgzDpTUb98A=w2400");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hfl5 {
  background: url("https://lh3.googleusercontent.com/sXvebM74YvRRem_bzkFtHxk7jInARhyTcDPPSYOlqIvEbKm-7CIaPmQf8PQP7hY6YMMVPfdUms5-TnA9dW5W07dyViUEV1hveMqesbnUjkIFxo2qa-J63qJdOoWysaPHfZ4oKW_xFQ=w2400");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hflp {
  font-family: 'Josefin Slab';
  font-variant: small-caps;
  font-weight: bold;
  color: white;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 100%;
  text-align: center;
}

.hflp:hover{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.hp-image{
  width: 90%;
  height: 300px;
  border: 1px solid white;
}

.hp-s-box{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.hp-s-h{
  background-color: rgba(255,255,255,.3);
  padding: 20px;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.hp-s-d{
  text-align: center;
  width: 200px;
  margin:5px;
  font-size: 20px;
}

main{
  margin: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
}

.td-form {
  margin:0;
  padding: 0;
}

.loginH2 {
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: white;
  margin: 10px;
}

.login-form {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #7e888f;
  box-shadow: 0px 0px 7px 3px white;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

#home-login-window {
  display: none;
}

.home-dropdown{
  border: 1px solid white;
  background: darkgrey;
  box-shadow: 0px 0px 7px 3px white;
  text-align: right;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 65px;
  right: 10px;
  width: 150px;
  z-index: 10;
}

.home-dropdown a{
  color: white;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  width: 95%;
}

.home-dropdown a:hover{
  background-color: white;
  color: darkgrey;
}

#login_button, #register_button, #home_menu_button{
  z-index: 10;
  width: 70px;
  border: 1px solid white;
  position: fixed;
  top: 10px;
  right: 135px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: darkgrey;
  font-family: 'Josefin Slab';
  font-size: 15px;
  padding: 15px 0 15px 0;
}

#register_button {
  position: fixed;
  top: 10px;
  right: 65px;
}

#home_menu_button {
  border: none;
  background-color: inherit;
  background-image: url("../images/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  padding: 23px 0 23px 0px;
  position: fixed;
  top: 10px;
  right:10px;
}

.login-form-p {
  font-size: 15px;
  text-align: center;
  width: 70%;
  margin:5px;
  margin-block-start:3px;
  margin-block-end:10px;
}

.login-label{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  border: none;
  font-size: 20px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: white;
  width: 100%;
  margin: 15px 0 20px 0;
}

.login-input {
  width: 300px;
  padding: 5px;
  text-align: center;
}

#login, #register {
  font-family: 'Josefin Slab', serif;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 16px;
  text-shadow: white 1px 0 10px;
  background: linear-gradient(#8e9c8e,#c7d8c6,#8e9c8e);
  width:100px;
  margin: 20px auto;
  border: none;
  color:#7e888f;
  padding: 10px;
  border-radius: 20px 20px;
  box-shadow: 0px 0px 7px 3px white;
}

.errors {
  display: block;
  background-color: yellow;
  color: black;
}

.login-button {
  width: 50%;
  padding: 10px 0;
  margin: 10px auto;
}

.login-button:hover {
  background: linear-gradient(#c7d8c6,#8e9c8e,#c7d8c6);
  color: white;
}

.nav-bar{
  padding: 20px;
  width: 100vw;
  position: fixed;
  top: 0px; left: 0px;
  background: linear-gradient(#8e9c8e,#c7d8c6,#8e9c8e);

}

.nav-bar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-bar-button {
  text-shadow: #6b6b67 1px 0 10px;
  font-size: 14px;
  font-family: 'Josefin Slab', serif;
  box-shadow: 0px 0px 7px 3px white;
  background-color: #cccbc6;
  padding: 10px 20px;
  border: none;
  font-variant: small-caps;
  font-weight: bolder;
  color: white;
}

.nav-bar-opt {
  text-shadow: #6b6b67 1px 0 10px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Josefin Slab', serif;
  box-shadow: 0px 0px 7px 3px white;
  background-color: #cccbc6;
  padding: 10px 20px;
  font-variant: small-caps;
  font-weight: bolder;
  color: white;
}

.banner {
  position: fixed;
  height: 65px;
  top:0;left: 0; right:0;
  z-index: 1;
  padding: 0px;
  background-color: #efd9c1;
  box-shadow: 0px 0px 7px 3px white;
}

#banner-txt{
  position: fixed;
  top:0px;
  right: 220px;
  text-align:center;
  font-size: 14px;
  margin-left: 10px;
}

#specials {
  display: flex;
  flex-direction: row;
  align-items:stretch;
  justify-content: space-around;
  margin: 30px auto;
}

.home_box {
  width: 40%;
  box-shadow: 0px 0px 7px 3px white;
  background-color: #c7d8c6;
  padding: 20px;
  text-align: center;
}

#specials_div {
  width: 40%;

}

#top_5 {
  width: 75%;
}

.top_5_table {
  width: 95%;
  box-shadow: 0px 0px 7px 3px white;
  background-color:#a9b7c0;
  margin: 10px auto;
  padding: 10px;
}

.top-5{
  font-weight: bolder;
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  color: white;
  font-variant: small-caps;
  padding: 5px;
  text-shadow: #8e9c8e 1px 0 10px;
  background: linear-gradient(#8e9c8e,#c7d8c6,#8e9c8e);
}

.top-5-name{
  font-weight: bolder;
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
  color: white;
}

.top-5-data {

}
#menu_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  margin: 5px;
}

.shake_menu{
  color: #6d786d;
  font-size: 22px;
  font-weight: bolder;
  font-family: 'Josefin Slab', serif;
  display: none;
  text-align: center;
  box-shadow: 0px 0px 7px 3px white;
  background-color: #efd9c1;
  padding: 10px 20px 20px 20px;
  margin-bottom: 30px;
}

#all_menu {
  display: block;
}

.store_home_container {
  text-align: center;
}

.store_shake_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.shake-table {
  width: 90%;
  font-family: 'Josefin Slab', serif;
  margin: 10px auto;
  background-color: #efd9c1;
  padding: 15px;
}

.shake-header {
  color: white;
  padding: 5px;
  background-color: #8e9c8e;
  font-size: 24px;
  font-weight: bolder;
  font-variant: small-caps;
}

.shake-table-header1 {
  text-align: center;
  background-color: #a9b7c0;
  width: 50px;
  padding: 5px 0 5px 0;
  color: white;
}
.shake-table-header2 {
  background-color: #a9b7c0;
  width: 250px;
  padding: 5px 0 5px 0;
  color: white;
}


.user-table-header1{
  text-transform: capitalize;
  font-weight: bolder;
  background-color: #a9b7c0;
  width: 8%;
  padding: 2px 0 2px 0;
  color: white;
}

.user-table-header2 {
  text-transform: capitalize;
  font-weight: bolder;
  background-color: #a9b7c0;
  width: 12%;
  padding: 5px 0 5px 0;
  color: white;
}

.shake-table-data {
  border-bottom: 1px solid white;
}

.menu_button_holder {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.menu_button_holder2 {
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 30vh;
}


.menu-button, .menu-button2 {
  text-shadow: #6b6b67 1px 0 10px;
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
  box-shadow: 0px 0px 7px 3px white;
  background-color: #cccbc6;
  border: none;
  font-variant: small-caps;
  font-weight: bolder;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
}

.menu-button2 {
  width: 200px;
}

.menu_box{
  display: none;
  width: 95%;
  margin: 20px auto;
}

#menu_box_a {
  display: block;
}

.smNum {
  width: 50px;
}

.txt {
  width: 100%;
}

.hidden {
  display: none;
}

.member-table {
  box-shadow: 0px 0px 7px 3px white;
  margin: 20px auto;
  width: 98%;
  font-family: 'Josefin Slab', serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 5px;
}

.member-table-header {
  width: 20%;
}

.member-table-header1 {
  width: 40%;
}

.member-table-input {
  width: 100%;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}
