*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.title {
  text-align: center;
  font-family: 'Marck Script';
  font-size: 50px;
  font-weight: bolder;
  color: white;
  padding: 10px;
  text-shadow: #8e9c8e 1px 0 10px;
  margin: 50px 10px 10px 10px;
}

/**
 * Layout
 */
.page_title {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  padding: 10px;
  text-shadow: #8e9c8e 1px 0 10px;
  margin: 10px;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
 }

body {
  background-color: #a9b7c0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}
header {
  display: flex;
  flex-direction: column;
  background-color: #c7d8c6;
}

.nav-bar{
  padding: 20px;
  width: 100vw;
  position: fixed;
  top: 0px; left: 0px;
  background: linear-gradient(#8e9c8e,#c7d8c6,#8e9c8e);

}

.nav-bar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-bar-button {
  text-shadow: #6b6b67 1px 0 10px;
  font-size: 14px;
  font-family: 'Josefin Slab', serif;
  box-shadow: 0px 0px 7px 3px white;
  background-color: #cccbc6;
  padding: 10px 20px;
  border: none;
  font-variant: small-caps;
  font-weight: bolder;
  color: white;
}

.nav-bar-opt {
  text-shadow: #6b6b67 1px 0 10px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Josefin Slab', serif;
  box-shadow: 0px 0px 7px 3px white;
  background-color: #cccbc6;
  padding: 10px 20px;
  font-variant: small-caps;
  font-weight: bolder;
  color: white;
}

.banner {
  padding: 20px;
  background-color: #efd9c1;
  box-shadow: 0px 0px 7px 3px white;

}

#specials {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 30px auto;
}

.home_box {
  box-shadow: 0px 0px 7px 3px white;
  background-color: #c7d8c6;
  padding: 20px;
  text-align: center;
}

#specials_div {
  width: 25%
}

#top_5 {
  width: 70%;
}

.top_5_table {
  width: 90%;
  box-shadow: 0px 0px 7px 3px white;
  background-color:#a9b7c0;
  margin: 10px auto;
  padding: 10px;
}

#menu_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shake_menu{
  display: none;
  text-align: center;
  box-shadow: 0px 0px 7px 3px white;
  background-color: #efd9c1;
  padding: 10px 20px 20px 20px;
}

#all_menu {
  display: block;
}
