{% extends "base.html" %}

{% block title %}Lancaster City Nutrition{% endblock %}

{% block content %}

  <div class="banner">
    <h3>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a>!</h3>

  </div>
  <div class="login-form">
    <form class="login-form" method="POST" action="{{ url_for('register.register') }}">
      <h2 class="loginH2">Register</h2>
      {{ form.hidden_tag() }}
      <fieldset class="login-label">
      {{ form.fName.label }}
      {{ form.fName(class="login-input", placeholder="Sally") }}
        {% if form.fName.errors %}
        <ul class="errors">
          {% for error in form.fName.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>
      <fieldset class="login-label">
      {{ form.lName.label }}
      {{ form.lName(class="login-input", placeholder="Smith") }}
        {% if form.lName.errors %}
        <ul class="errors">
          {% for error in form.lName.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>

      <fieldset class="login-label">
        {{ form.phone.label }}
        {{ form.phone(class="login-input", placeholder="1112223333") }}
        {% if form.phone.errors %}
          <ul class="errors">
            {% for error in form.phone.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="login-label">
        {{ form.dob.label }}
        {{ form.dob(class="login-input", placeholder="01/01/2001") }}
        {% if form.dob.errors %}
          <ul class="errors">
            {% for error in form.dob.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="login-label">
        {{ form.email.label }}
        {{ form.email(class="login-input", placeholder="SallySmith@email.com") }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="login-label">
        {{ form.password.label }}
        {{ form.password(class="login-input", placeholder="8 characters") }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>
      <fieldset class="login-label">
        {{ form.pass_confirm.label }}
        {{ form.pass_confirm(class="login-input", placeholder="confirm password") }}
        {% if form.pass_confirm.errors %}
          <ul class="errors">
            {% for error in form.pass_confirm.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      {{ form.register }}

      </form>
  </div>

  <div class="banner">
    <h3>Or, you're welcome to continue as a guest!</h3>
    <input class="login-button" type="submit" value="Guest" />

  </div>
{% endblock %}
